

/********************************

generic css


********************************/




.owl-theme .owl-nav [class*=owl-]{
    color: #212226;
    background: None;
    font-size: 40px;
    margin: 0;
}

.owl-theme .owl-nav [class*=owl-]:hover{
    background: None;
    color:#212226;
}


html,body{
    height: 100%;

}

body{
    color: #212226;

}

h1,h2,h3,h4,h5,h6{
    font-family: "Raleway",sans-serif;
}

p{
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}

section{
    background: #fff;
    overflow:hidden; 
}



/********************************

preloader
section


********************************/


#preloader{
	background-color:white;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 9999;
}

#status{
	background-image: url("../img/preloader/preloader.gif");
	background-repeat:no-repeat;
	height: 278px;
	width: 488px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top:-136px;
	margin-left:-244px;
}



.content-lg{
	padding: 120px 0;
}
.content-md{
	padding: 90px 0;
}
.content-sm{
	padding: 60px 0;
}

.content-llg{
	padding: 200px 0;
}



/********************************



navigation bar




*********************************/




.navbar{
	transition: all 300ms linear;
	padding: 35px 0px 20px 0;
}

.site-nav-wrapper{
	padding: 0 85px;
}








ul.navbar-nav > li > a{
	
	font-family: "Raleway",sans-serif;
	color: #fff;
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 1px;
	
}

ul.navbar-nav >  li >  a{
	padding-left: 25px;
	padding-right: 25px;
}
ul.navbar-nav > li > a:hover,
ul.navbar-nav > li > a:focus{
	background: none;
	color: #f4c613;
}


/* white navigation bar */
.white-nav-top{
	background: white;
	padding : 10px 0;
	box-shadow: 0 8px 6px -9px #999;
	z-index: 2;
}

.white-nav-top ul.navbar-nav >  li >  a{
	color: #212226;
}

.white-nav-top ul.navbar-nav >  li >  a{
	padding-left: 25px;
	padding-right: 25px;
}

.white-nav-top ul.navbar-nav > li.active > a{
	color: #f4c613;
}


.white-nav-top ul.navbar-nav > li > a:hover,
.white-nav-top ul.navbar-nav > li > a:focus{
	color: #f4c613;
}


/***************************************

mobile menu


***************************************/



/********************************

home video


********************************/



#home{
    background: none;
    height: 100%;
}


#home-bg-video{
	position: fixed;
	min-height: 100%;
	min-width: 100%;
	top: 50%;
	left: 50%;
	height: auto;
	width: auto;
	transform: translateX(-50%) translateY(-50%);
	z-index: -1;
	background-image: url('..img/home1.jpg') no-repeat;
	background-size: cover;
}

#home-overlay{
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.8);
	height: 100%;
	width: 100%;
	z-index: -1;
}


/********************************

home text section


********************************/





#home-content{
	width: 100%;
	height: 100%;
	display: table;
}

#home-content-inner{
    display: table-cell;
    vertical-align: middle;
}

#hmh1{
	font-size: 64px;
	font-family: "Raleway",sans-serif;
	color: white;
	display: inline-block;
	margin: 0;
	font-weight: 100;
}

#hmh2{
	font-size: 70px;
	font-family: "Raleway",sans-serif;
	color: white;
	margin-top: 20px;
	font-weight: 200;

}

#hmh2 span{
	color: #f4c613;
	font-weight: 400;
}


#arrow-down{
	position: absolute;
	font-size: 40px;
	color: white;
	z-index: 1;
	left: 50%;
	bottom: 20px;
	margin-left: -20px;
	text-align: center;

}

#arrow-down:hover,#arrow-down:focus{
	color: #f4c613;
}





/********************************

about section


********************************/

#about{
	background-color: #f4f4f4;
}


.horizontal-heading{
	font-size: 35px;
	word-spacing: 18px;
	display: inline-block;
	margin: 20px 0;
	font-weight: 1;
}
.horizontal-heading span{
	color: #4d4dff;
	font-weight: 700;
}

#about .col-md-6{
	padding: 0;
}
#about-image{
	background-color: red;
	padding:0;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#about-left{
	background-color: black;
	padding:22.5px 25px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#about-left p{
	font-size: 22px;
	line-height: 40px;
	color: #f4f4f4;
}





/********************************

ranking section


********************************/


#break1 hr{
	height: 5px;
	width: 100%;
	background-color: black;
	padding:0;
}

#break2 hr{
	height: 5px;
	width: 100%;
	background-color: black;
	padding:0;
	margin-bottom: 0;
}
#ranking{
	background: #fff;
}
.ranking-details{
	background:white;
	margin: 0;
	text-transform: uppercase;
	font-weight: 100;
	font-size: 25px;
	padding-top: 20px;
	padding-bottom: 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

	


#ranking hr{
	height: 5px;
	width: 100%;
	background-color: #f4c613;
	margin: 0;
}

.rank{
	padding: 15px;
	background: black;
	color: white;
	margin: 0;
	font-size: 30px;
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
	


#ranking .col-md-4{
	margin-bottom: 40px;
}

/********************************

footer section


********************************/


#footer i{
	padding: 0;

}
#footer a{
	font-size: 24px;
	margin: 0 6px;
	border: 1px solid black;
	height: 35px;
	width: 35px;
	display: inline-block;
	border-radius: 50%;
	color: black;
}


#footer{
	padding: 10px 0;
	background: #fff;
}

#facebook:hover{
	border-color: transparent;
	background-color: #3b5998;
	color: white;
}

#twitter:hover{
	border-color: transparent;
	background-color: #00aced;
	color: white;
}

#github:hover{
	border-color: transparent;
	background-color: #000;
	color: white;
}
#whatsapp:hover{
	border-color: transparent;
	background-color: #4fce5d;
	color: white;
}

#author p{
	font-size: 20px;
	font-family: "Raleway",sans-serif;
}

.icons{
	text-align: right;
}
/************************************

centuries

************************************/


#centuries{
	background: #f4f4f4;

}


#centuries .container{
	background: #fff;
	padding: 40px 20px;
}
.century{
	margin: 8px;
	position: relative;
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
	overflow: hidden;

}

.century-overlay{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(33,34,38,0.8);
	display: table;
	opacity: 0;
	transition: all .5s linear;
	-webkit-transition:all .5s linear;
}

.century-overlay h2{
	color: #f4c613;
	font-size: 30px;
	font-family: "Raleway",sans-serif;
}
.century-overlay h5{
	color: white;
	font-size: 15px;
	font-family: "Raleway",sans-serif;
}
.century-overlay p{
	color: white;
	font-size: 15px;
	font-family: "Raleway",sans-serif;
}

.century-info{
	display: table-cell;
    vertical-align: middle;
}

.century:hover .century-overlay{
	opacity: 1;
}

.century img{
	transition: all .5s linear;
	-webkit-transition:all .5s linear;

}

.century:hover img{
	transform: scale(1.1);
}
.century-heading h5{
	font-size: 60px;
	margin: 20px 0;
	line-height: 60px;
	font-weight: 100;
	font-family: "Raleway",sans-serif;
}

#centuries li{
	padding:5px 30px;
}
#centuries li a{
	font-size: 30px;
	color: #212226;
	font-weight: 1;
	font-family: "Raleway",sans-serif;
	text-decoration: none;
}

#centuries ul li.r-tabs-state-active a{
	font-size: 30px;
	color: #f4c613;
	border-bottom: 4px solid #f4c613;
	padding-bottom: 5px;

}



/************************************

stats section

************************************/


#stats{
	background-image: url("../img/stats/stats-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

#stats .content-md{
	background: rgba(0,0,0,0.8);
}


.stat-item{
	margin-bottom: 20px;
	background: rgba(61,68,68,0.6);
	padding: 25px 10px;
	min-height: 150px;
	transition: all 0.4s linear;
	-webkit-transition:all 0.4s linear;
}

.stat-item h3{
	color: white;
	font-weight: 1;
	font-family: "Raleway",sans-serif;
	transition: all 0.4s linear;
	-webkit-transition:all 0.4s linear;
}
.stat-item h5{
	color: white;
	font-size: 32px;
	font-family: "Raleway",sans-serif;
	font-weight: 100;
	transition: all 0.4s linear;
	-webkit-transition:all 0.4s linear;
}

.stat-item:hover{
	background: #f4c613;
}

.stat-item:hover h5,
.stat-item:hover h3{
	color: #212226;
}

.stat-item:hover h5{
	transform: translateY(-10px);
}



/****************************************

records

****************************************/



#records{
	background: #f4f4f4;
	padding-bottom: 0px;
	overflow: visible;
}

#records .horizontal-heading{
	padding:40px 0;
	margin-bottom: 80px;
}

#record-part{
	background: #f4c613;
	top: -120px;
}

.record{
     padding:20px 45px 0 45px;
     color:white;
}

.record p{
	font-size: 20px;
	font-family: "Raleway",sans-serif;
	line-height:normal;
	margin:0;
	margin-bottom:20px;
	margin-top:5px;

 }


 
/* @media (max-width:767px){
	.r-tabs-accordion-title{
	    text-align: center;
	    margin-bottom: 10px;

	}
	.r-tabs-accordion-title a{
	    font-family: "Raleway",sans-serif;
	    font-size: 40px;
	    color: #212226;
	    text-transform: uppercase;
	    font-weight:400;
	    padding :0;
	    text-decoration:None;
	}

	.r-tabs-accordion-title.r-tabs-state-active a{
	    color: #f4c613;
	    font-weight: 700;
	    border-bottom: 3px solid #f4c613;
	    padding-bottom: 5px;
	    transition: border-color 300ms linear;
	    -webkit-transition:border-color 300ms linear;
	}
} */